/* Estilos gerais para o container principal */
.container1 {
  min-height: 100vh; /* O contêiner terá pelo menos a altura da viewport */
  height: auto; /* Mas poderá crescer além disso se o conteúdo precisar */
  background: #f9f9f9; /* Mudança de cor de fundo para algo mais claro */
  max-width: 1200px;
  margin: 0 auto;
}

/* Estilos para o contêiner de botões */
.button-container {
  position: sticky;
  top: 0;
  bottom: 50px; /* Distância máxima que os botões podem descer */
  z-index: 1000; /* Garante que os botões fiquem acima de outros elementos */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Estilos para o contêiner de pesquisa */
.search-container {
  margin-bottom: 30px;
}

/* Estilos para o título dentro do contêiner de pesquisa */
.search-container h1 {
  margin-bottom: 30px;
}
.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Espaçamento horizontal */
  align-items: stretch; /* Ajusta os itens para preencher a altura do contêiner */
  padding-top: 60px; /* Altura dos botões */
}

/* Estilos para o contêiner de posts */

