/* Consultas.css */

/* Estilos gerais para o container da página */
.consultas-container {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Estilos para as abas de navegação */
.consultas-tabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: yellow;
    
  } 
  
  button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 150px;
    height: 50px;
  }
  
  button:hover {
    background-color: #0056b3;
  }

  .div-button-marcar{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
  }

  #button-marcar{
    margin: 0;
  }
  
  /* Estilos para as seções de conteúdo */
  .consultas-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
  }
  
  .section-h2-btn h2 {
    margin-bottom: 10px;
    width: 200px;
  
  }

  .section-h2-btn{
    flex-direction: row;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
   
  }
  
  /* Estilos para o formulário de consulta */
  .formulario-consulta {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .formulario-consulta label {
    display: block;
    margin-bottom: 5px;
  }
  
  .formulario-consulta input[type="text"],
  .formulario-consulta input[type="date"],
  .formulario-consulta select {
    width: calc(100% - 22px); /* Ajuste para a largura com padding */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  
 
  