.card{
    margin-top: 20px;
    background-color: #3C9CD9;
    height: 182px;
    width: 411px;
    display: flex;
    margin-left: 20px;
}
.card:hover{
    cursor: pointer;
    border: 2px solid #0a2e47;
}
.retangulo{
    background-color:rgba(242, 242, 242, 0.9490196108818054);
    height:183px;
    width:66px;
    display: flex;
    margin-left: 100px;
   
  
}
/* .seta{
    width: 55px;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    margin-left: 7px;
} */
.coracao{
    width: 30px;
    height: 30px;
    margin-left: 12px;
    margin-top: 12px;
}
.texto{
    font-weight: bold;

    
}
.titulo-abordagem{
    padding: 0;
    margin-top: 27px;
    margin-left: 13px;
    position: relative;
    align-items: start;
    
}
.informacoes-abordagem{
    margin-top: 40px;
    margin-left: 2px;
    padding: 0;
    position: relative;
    align-items: start;
}