
.form-check{
  margin-top: 11px;
  /* display: flex; */
}
.col-lg-12 p  {
  color: #000000 !important;
}
[data-theme="dark"] .col-lg-12 p{
  color: #eee !important;
}
.col-lg-12 br a  {
  color: #000000 !important;
}

 .col-lg-12 a  {
  color: #00b7ff !important;
}

/* .col-lg-12  {
  color: #000000 !important;
} */



[data-theme="dark"] {
  background-color: #111 !important;
  color: #eee;
}

[data-theme="dark"] .bg-black {
  background-color: #fff !important;
}

[data-theme="dark"] .bg-dark {
  background-color: #eee !important;
}

[data-theme="dark"] .bg-light {
  background-color: #222 !important;
}

[data-theme="dark"] .bg-white {
  background-color: #000 !important;
}

/* [data-theme="dark"] .clips .item  {
  background-color: #303030 !important;
} */


/* [data-theme="dark"] .header-area .main-nav #search{
  color: #27292a !important;
} */


