/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}



/* Navbar transparente */
.navbar {
    background-color: transparent;
    color: #fff;
    padding: 10px 0;
    border: none;
}

.top-menu-bottom932 {
    margin-top: 200px;
}

/* .navbar a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
} */

/* .navbar a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
} */

/* Estilo do breadcrumb */
.breadcrumb839 {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.breadcrumb839 a {
    color: #007bff;
    text-decoration: none;
}

.breadcrumb839 a:hover {
    text-decoration: underline;
}

/* Conteúdo principal */
.main-content920 {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo das perguntas */

.question-type2033 {
    background-color: #d9d9d9;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    word-wrap: break-word; /* Garante que o texto longo será quebrado */
    overflow-wrap: break-word; /* Compatibilidade com navegadores mais antigos */
}

.question-type2033 h4 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.question-type2033 h3 {
    margin: 10px 0;
    font-size: 24px;
    color: #007bff;
}

.question-type2033 h3 a {
    text-decoration: none;
    color: #007bff;
}

.question-type2033 h3 a:hover {
    text-decoration: underline;
}

.ques-details10018 {
    margin-top: 10px;
}

.ques-details10018 p {
    margin: 0;
    color: #555;
}

/* Botão de limpar perguntas */
.clear-button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin: 20px auto;
}

.clear-button:hover {
    background-color: #c82333;
}
.add-comment-link {
    text-align: left;
    margin-top: 10px;
}

.add-comment-link a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.add-comment-link a:hover {
    text-decoration: underline;
}