@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


.input-pesquisa-header{
    background-color: white;
    height: 40px;
    border-radius: 9px;
    border: none;
}
.campo-pesquisa{
    gap: 16px;
    position: relative;
    bottom: 275px;
   display: flex;
   align-items: center;
   justify-content: center;
   align-self: self-end;
   margin-right: 125px;
   gap: 1px;
}
.botao-pesquisa-header{
    padding: px;
    color: white;
    background-color: black;
    border: none;
    height: 50px;
    border-radius: 9px; 
    margin-left: 16px;
}

.botao-pesquisa-header:hover{
    cursor: pointer;
    color: black;
    background-color: white;
}
/* .titulo{
    position: relative;
    bottom: 205px;
   font-family: Inter;
   font-weight: 900;
   margin-left: 10px;
   font-size: 40px; 
} */

